*{
    margin: 0px;
    padding: 0px;
}

.corpo_forum{
    margin: 20px auto auto auto;
    padding: 20px;
    width: 1000px;
    font: 11px Tahoma;
    background-color: rgb(220, 220, 220);
    text-align: left;
    border: 1px solid black;
    border-radius: 10px;
}

.logo{
    width: 220px;
}

.form_login, .form_registro{
    width: 400px;
    border: 1px solid black;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
}

input[type="submit"]{
    width: 120px;
    padding: 5px;
}

.erro{
    margin: 20px auto;
    color: red;
    font: bold 12px Tahoma;
    text-align: center;
    width: 600px;
    padding: 5px;
    border: 1px solid rgb(170, 170, 170);
}

.registro_sucesso, .login_sucesso{
    margin: 30px auto;
    padding: 20px;
    color:black;
    font: 11px Tahoma;
    text-align: center;
    width: 300px;
    background-color: rgb(200, 200, 200);
    border: 2px groove rgb(170, 170, 170);
    border-radius: 10px;
}

.mensagem{
    margin: 30px auto;
    text-align: center;
    width: 400px;
    padding: 20px;
    border: 1px solid black;
}

.dados_usuario{
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.dados_usuario img{
    width: 30px;
    height: 30px;
}

.dados_usuario span{
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
}

.rodape{
    margin: 3px auto auto auto;
    padding: 20px;
    width: 1000px;
    background-color: black;
    color: white;
    font: 0.7em tahoma;
    border-radius: 10px;
    text-align: center;
}